{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    {% for p in products %}
        <a href="{{ path('artist', {id: p.artist_id.id})}}"><h4>{{ p.name }}</h4></a>
        <div class="card" style="width: 18rem;">
            <img src="{{ asset('img/' ~ p.img) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">{{ p.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
